h2{
    font-size: 36px;
    font-family: mon-style;
    text-align: center;
}

.flex-Crea {
    padding: 10px;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    size: 200px;
}

.flex-Crea2 {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    size: 200px;
}

p{
    max-width: 450px;
}

.image{
    clip-path: circle(45% at 50% 50%);
    size: 200px;
}
