.image{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


.flotteL {
    float:left;
    margin-right: 10px;
    line-height: 10px;
}


.TailleQuoteL{
    font-size: 36px;
    text-align: left;
}

.TailleQuoteR{
    font-size: 36px;
    text-align: right;
}

.flotteR {
    float:right;
    margin-right: 10px;
    line-height: 10px;
}